@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

//set breakpoint sizes
$break-large: 32.5em;

@mixin breakpoint($break) {
@if $break == large {
@media (max-width: $break-large) { @content; }
}
} 

//other variables
$serif: 'Lora', Georgia, serif;
$text-decoration: none;

h1 {
    font-family: $serif;
    color: #333;
    font-size: 3rem;
}
h2 {
    font-family: $serif;
    font-size:16pt;
}
p {
    font-family: Helvetica, Arial, sans-serif;
}
header {
    font-family: $serif;
    margin:0;
    text-align:center;
    @include breakpoint(large){
        padding-left: 3rem;
        font-size: 65%;
    }
}
header a {
    text-decoration:$text-decoration;
    color: #333;
    padding: 2rem;
    @include breakpoint(large){
        padding:1rem;
    }
}
nav ul::before, nav ul::after {
    content: "";
    position: absolute;
    left:0px;
    height  : 1px;
    width   : 360px;  /* or 100px */
    border-bottom:1px solid #d0d0d0;
}
nav {
    display:flex;
    flex-direction:column;
    @include breakpoint(large){
        display: flex;
        flex-direction:row-reverse;
        padding: 1rem;
    }
    ul li {
        text-transform: uppercase;
        font-weight:bold;
        font-size:14pt;
        list-style: none;
        padding: .5rem;
        @include breakpoint(large){
            padding:unset;
            padding: .5rem;
        }
    }
    ul li a, ul li a:visited {
        color: #666;
    }
    ul li a:hover {
        color: #00ddff;
        text-decoration: underline;
    }
    ul li a:active {
        color:#DEB887;
    }
}
body {
    padding:0;
    margin:0;
}
main {
    padding:1rem;
    @include breakpoint(large){
        padding: 1rem 3rem;
        font-size: 75%;
    }
}
article {
    background-color: white;
    max-height: fit-content;
    @include breakpoint(large){
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.post-date {
    font-family: $serif;
    text-align: right;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 16pt;
    @include breakpoint(large){
        grid-column: 1,2;
        border-right:1px solid #d0d0d0;
    }
}
.post-content::before {
    content: "";
    position: absolute;
    left:0px;
    height  : 1px;
    width   : 360px;  /* or 100px */
    border-top:1px solid #d0d0d0;
    @include breakpoint(large){
        display:none;
    }
}
.post-content{
    padding-top: 1rem;
    @include breakpoint(large){
        grid-column:2,4;
        padding: 1rem;
    }
    h2 {
        font-size: 16pt;
        @include breakpoint(large){
            font-size: x-large;
            margin-bottom: 3rem;
        }
    }
    h2 a {
        color:#666;
        text-decoration: none;
    }
    h2 a:hover{
        color: #6495ED;
        text-decoration: underline;
    }
    h2 a:active {
        color: #DEB887;
    }
    figure img {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        @include breakpoint(large){
            margin-left: 20%;
        }
    }
    p a,
    p a:visited {
        color: #666;
        text-decoration: none;
    }
    p a:hover {
        text-decoration: underline;
        color: #00ddff;
    }
    p a:active {
        color: #DEB887;
    } 
} 

section{
    @include breakpoint(large) {
        display:flex;
        flex-direction:column;
    }
}
.post-content::after{
    @include breakpoint(large){}
        content: "";
        position: absolute;
        left:0px;
        height  : 1px;
        width   : 360px;  /* or 100px */
        border-bottom:1px solid #d0d0d0;
}

